@inherits BaseLayout

<NavigationMenuComponent/>

@Body

<div>
    <MudButton OnClick="@OpenNewGameDialog"
               Style="color: white; background-color: black" Class="ml-4 mr-12 pt-1 pb-2"
               Color="Color.Dark">
        New Game
    </MudButton>
    <MudButton OnClick="@OpenDepositDialog"
               Style="color: white; background-color: black" Class="ml-4 mr-12 pt-1 pb-2"
               Color="Color.Dark">
        Deposit
    </MudButton>
</div>

<MudThemeProvider Theme="@_muudstrapTheme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>