@inherits BaseLayout

<NavigationMenuComponent/>
<CultureSelectComponent/>

@Body

<div>
    <MudButton OnClick="@OpenDialog"
               Style="color: white; background-color: black" Class="ml-4 mr-12 pt-1 pb-2"
               Color="Color.Dark">
        Start A New Game
    </MudButton>
    <MudButton OnClick="@OpenDepositDialog"
               Style="color: white; background-color: black" Class="ml-4 mr-12 pt-1 pb-2"
               Color="Color.Dark">
        Open Deposit
    </MudButton>


</div>

<MudThemeProvider Theme="@_muudstrapTheme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>